/*Utilities  */
.column{
    display: flex;
    justify-content: space-between;
}
.col{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.img-size{
    width: 30px;
    height: 30px;
}
.backgrd{
    width: 250px;
    height: 150px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding-top: 30px;
    font-size: 13px;
}
.backgrd:hover{
    background-color: #ff7c7c;
    color: #ffffff;
}
.fnsz13{
    font-size: 13px;
}
.pad30{
    padding: 0 20px;
}
.mgrt-70{
    margin-right: 60px;
}
.mglf-44{
    margin-left: 90px;
}
.mgtop-20{
    margin-top: 20px;
}
.shopping-cart{
    background-color: #ffffff;
    position: absolute;
    top: 71.5px;
    right: 50px;
    width: 385px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1);
    padding: 0 15px;
    display: none;
}

.shopping-items{
    height: 200px;
    overflow-y: auto;
}
.shopping-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cart-logo{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #ff5959;
    margin-top: 15px;
}

.cart-img{
    width: 60px;
    height: 60px;
}

.border-btm{
    border-bottom: 1px solid #ccc;
}

.remove-shopping_cart{
    position: absolute;
    right: 15px;
    top: 5px;
    width: 15px;
    height: 15px;
}

.shopping-items{
    margin-top: 10px;
}

.cart-logout{
    width: 100%;
    background-color: #ff5959;
    border: none;
    outline: none;
    height: 40px;
    margin: 15px 0;
    border-radius: 5px;
}
.cart-pay{
    width: 100%;
    background-color: #000000;
    border: none;
    outline: none;
    height: 40px;
    color: #ffffff;
    margin: 15px 0;
    border-radius: 5px;
}
.cart-pay:hover{
    background-color: #222222;
}
.cart-logout:hover{
    background-color: #fd3d3d;
}
.cart-logout a{
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}
.quality input{
    width: 30px;
}
.item{
    display: flex;
}
.item span{
    width: 78px;
    font-size: 12px;
    margin-top: 20px;
    margin-left: 5px;
}
.quality{
    margin-top: 14px;
}
.price{
    font-size: 13px;
    margin-top: 5px;
    /* margin-left: 20px; */
}
.remove-item button{
    width: 60px;
    font-size: 12px;
    background-color: #ff5959;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 20px;
}
.remove-item button:hover{
    background-color: #fd3d3d
}
@media screen and (max-width: 400px){
    .shopping-cart{
        width: 100%;
        right: 0px;
    }
}

