/* All index.html styling will be in this file -> {index.css }*/
/* Utilities */
.text-center{
    text-align: center;
    justify-content: center;
}
.cart{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.light-grey{
    color: #5d5d5a;
}
.images{
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.color-red{
    color: #ff5959;
}
.pad-top30{
    padding-top: 30px;
}
.mgrt30{
    margin-right: 30px;
}
.font-sz{
    font-size: 34px;
    font-family: 'Pacifico', cursive;
    color: #ff5959;
}
.fnsz12{
    font-size: 12px;
}
.ibutton{
    background-color: #ff5959;
    color: #FFFFFF;
    border: none;
    width: 159px;
    height: 39px;
    border-radius: 20px;
    font-size: 16px;
    margin-top: 15px;
    outline: none;
}
.ibutton:hover{
    background-color: #fd3d3d;
}
/* Header styling starts here... */
header{
    width: 100%;
    height: 71px;
    position: fixed;
    background: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 555;
}

header .header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .header-content{
    display: flex;
    flex-wrap: wrap;
}

header .header-logo{
    margin-top: 5px;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #ff5959;
}

header .header-container .shopping-navbar{
    margin-left: 40px;
    margin-top: 15px;
}

header .header-container .shopping-navbar span{
    margin-left: 30px;
}

header .header-container .shopping-navbar > .menu{
    width: 25px;
    margin-top: 3px;
    position: absolute;
}
header .header-container .shopping-navbar > .close{
    width: 25px;
    height: 20px;
    margin-top: 3px;
    position: absolute;
    display: none;
}

header .header-container .shopping-navbar .nav-link{
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
    position: absolute;
    margin-top: 20px;
    margin-left: -20px;
    display: none;
}

header .header-container .shopping-navbar .nav-link li{
    list-style: none;
    margin: 10px 0;
}

header .header-container .shopping-navbar .nav-link a{
    text-decoration: none;
    color: #5d5d5a;
    font-size: 15px;
    margin-top: 20px;
}

header .header-container .shopping-navbar .nav-link a:hover{
    color: #ff5959;
}

header .header-container .shopping-list{
    width: 560px;
    height: 53px;
    margin-left: 40px;
    background: #FFFFFF;
    border: 1px solid rgba(238, 238, 238, 0.63);
    border-radius: 5px;
    padding: 11.5px 10px;
}

header .header-container .shopping-list select{
    width: 50px;
    height: 30px;
    background-color: #eeeeee;
}

header .shopping-search #search{
    width: 400px;
    border: none;
    margin-left: 30px;
    outline: none;
}

header .shopping-search > img{
    margin-top: 5px;
    position: absolute;
    margin-left: 10px;
}

header .header-container > button{
    width: 100px;
    height: 40px;
    margin-top: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #ff5959;
    color: #FFFFFF;
    font-size: 15px;
}

header .header-container > button:hover{
    background-color: #fd3d3d;
}
/* Header styling ends here... */

/* Banner section starts here... */
.banner-container{
    padding-top: 100px;
}

.banner-container .topslides{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner-container .banner-text > h1{
    font-size: 54px;
    font-weight: lighter;
    margin-top: 70px;
}


.banner-container .banner-text span{
    color: #ff5959;
}
.banner-container .banner-text .btn-shop_now{
    background-color: #ff5959;
    color: #FFFFFF;
    border: none;
    width: 159px;
    height: 43px;
    border-radius: 20px;
    font-size: 16px;
}
.banner-container .banner-text .btn-shop_now:hover{
    background-color: #fd3d3d;
}
.banner-container .banner-images > img{
    width: 467px;
    height: 314px;
    border-radius: 10px;
}
/* Banner section ends here... */
/* Collections */
.collections{
    margin-top: 60px;
}
.collections .card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.collections .cards{
    width: 261px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}
.collections .cards .price{
    margin-top: 18px;
}
.collections .cards .description{
    height: 90px;
    font-size: 12px;
    color: #333;
    text-align: center;
    padding: 0 5px;
}
.collections .cards:hover{
    transform: scale(1.06);
    transition: all 1s ease-in-out;
}
.collections .cards .card-name{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    line-height: .4;
    font-weight: bold;
}
.collections .cards .add-to-cart{
    border: none;
    background-color: #ff5959;
    color: #FFFFFF;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.collections .cards .add-to-cart:hover{
    background-color: #fd3d3d;
}
/* end of collections */

/* Modals */

/* shopping cart modal start here */
.zoom-out{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 999;
    opacity: .6;
    display: none;
}

/* login starts here... */
.shop-login{
    width: 350px;
    height: 300px;
    background-color: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    border-radius: 7px;
    padding: 10px;
    display: none;
}
.shop-login .shop-login_logo{
    margin-top: 25px;
    text-align: center;
    font-size: 18px;
    font-family: 'Pacifico', cursive;
    color: #ff5959;
}
.shop-login .remove-login_modal{
    position: absolute;
    right: 20px;
}
.form div input{
    width: 100%;
    height: 45px;
    padding: 0 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 5px;
}
.form button{
    width: 100%;
    height: 45px;
    background-color: #ff5959;
    color: #FFFFFF;
    border: none;
    margin-top: 20px;
    outline: none;
    border-radius: 5px;
}
.form button a{
    color: #FFFFFF;
    font-size: 15px;
    text-decoration: none;
}
.form button:hover{
    background-color: #fd3d3d;
}
/* login ends here... */
.footer{
    border-top: 1px solid #ccc;
    margin-top: 100px;
    height: 100px;
    padding-top: 25px;
    color: #5d5d5a;
    font-size: 13px;
}
.footer .footer-container{
    display: flex;
    justify-content: space-between;
}
.footer .footer-logo{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    color: #ff5959;
}

@media screen and (max-width: 400px){
    header .header-container .shopping-list ,
    header .shopping-search{
        display: none;
    }
    header .header-container .shopping-navbar{
        margin-left: 15px;
    }

    header .header-container > button{
        position: absolute;
        right: 30px;
        top: 10px;
    }

    .banner-container .banner-text > h1{
        font-size: 30px;
        line-height: none;
    }
    .banner-container{
        padding-top: 40px;
    }
    .banner-container .banner-images > img{
        width: 97%;
    }
    .collections .cards{
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
    }
}

